<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather app</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form th:action="@{/weather/getWeather}" method="post">
        <input type="text" name="city" placeholder="Enter a city location"/>
        <select name="unitGroup">
            <option value="us">US system</option>
            <option value="metric">Metric system</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <div th:if="${weather != null}">
        <h1 th:text="${weather[0]}"></h1>
        <h2 th:text="${weather[1]}"></h2>

        <div>
            <div>
                <p th:text="${weather[2]}"></p>
            </div>

            <div>
                <p th:text="${weather[3]}"></p>
            </div>
        </div>

    </div>

</body>
</html>